$signup-div-width: 25rem;

.khelotsu-signup {
  width: inherit;
  height: inherit;
  border-radius: 1rem;
  padding: 4rem;
  background-color: white;

  &-form {
    width: calc($signup-div-width - 2rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-heading {
      margin: 0 auto;
      font-size: 1.5rem;
      margin-bottom: 2.5rem;
    }

    &-component {
      margin-bottom: 2rem;
      display: flex;

      &-label {
        margin-right: 2rem;
        width: 10rem;
      }

      &-input {
        border: none;
        border-bottom: 1px solid black;
        width: 10rem;

        &:hover,
        &:focus {
          outline: none;
          border: none;
          border-bottom: 1px solid black;
        }
      }
    }

    &-submit {
      width: 8rem;
      height: 2.5rem;
      cursor: pointer;
      margin: 1rem auto;
    }
  }

  &-login {
    display: flex;
    justify-content: center;
    margin-right: 2rem;
    margin-top: 1.5rem;
    font-size: 1rem;

    &-not {
      color: green;
    }

    &-msg {
      cursor: pointer;
      text-decoration: none;
      color: blue;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
