@font-face {
    font-family: "Important-DancingStyle";
    src: url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap') format("cursive");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT-Serif-text";
    src: url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap") format("sans");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}