$login-div-width: 20rem;

.khelotsu-login {
	width: $login-div-width;
	height: fit-content;
	border-radius: 1rem;
	padding: 4rem;
	background-color: white;
	margin-left: auto;
	margin-right: 8rem;

	&-form {
		width: calc($login-div-width - 2rem);
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&-heading {
			margin: 0 auto;
			font-size: 1.5rem;
			margin-bottom: 2.5rem;
		}

		&-component {
			margin-bottom: 2rem;
			display: flex;

			&-label {
				margin-right: 2rem;
				width: 5rem;
			}

			&-input {
				border: none;
				border-bottom: 1px solid black;
				width: 10rem;

				&:hover,
				&:focus {
					outline: none;
					border: none;
					border-bottom: 1px solid black;
				}
			}
		}

		&-submit {
			width: 4rem;
			height: 2rem;
			cursor: pointer;
			margin: 0 auto;
		}
	}

	&-signup {
		display: flex;
		justify-content: center;
		margin-right: 2rem;
		margin-top: 2.5rem;
		font-size: 0.75rem;

		&-not {
			color: red;
		}

		&-msg {
			cursor: pointer;
			text-decoration: underline;
			color: blue;
		}
	}
}
