.khelotsu-login {
  width: auto;
  height: inherit;
  border-radius: 1rem;
  padding: 4rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-heading {
      margin: 0 auto;
      font-size: 1.5rem;
      margin-bottom: 2.5rem;
    }

    &-component {
      margin-bottom: 2rem;
      display: flex;
    }

    &-submit {
      width: 8rem;
      height: 2.5rem;
      cursor: pointer;
      margin: 0 auto;
    }
  }

  &-signup {
    display: flex;
    justify-content: center;
    margin-right: 2rem;
    margin-top: 2.5rem;
    font-size: 1rem;

    &-not {
      color: red;
    }

    &-msg {
      cursor: pointer;
      text-decoration: none;
      color: blue;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .khelotsu-login { 
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}