.games-box-display {
	background-size: 100% 100%; /* Cover entire container */
	background-position: center;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
