@import "./Utils/Scss/fonts.scss";

* {
  font-family: "PT-Serif-text", serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

body {
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Important-DancingStyle", cursive;
}
